@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-family: "Anek Latin", sans-serif;
  font-size: 40px;
}

button {
  width: max(30%, 400px);
  height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  display: block;
  background-color: blue;
  color: wheat;
  cursor: pointer;
  margin: 1rem auto;
  transition: 100ms;
}
button:is(:hover, :focus, :active) {
  background-color: rgb(119, 0, 255);
}
button:disabled {
  background-color: gray;
  color: rgb(58, 58, 58);
}
h3 {
  text-align: center;
}
/* ***************************** */
.confessPost {
  /* display: none; */
  /* visibility: hidden; */
  width: 450px;
  min-height: 500px;
  max-width: 600px;
  /* todo */
  background-color: #404040;
  /* background-color: #bababa; */
  /* color: rgb(0, 0, 0); */
  color: white;
  position: relative;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-size: 1.6rem;
  padding: 1rem;
  padding-block-end: 2.5rem;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 1rem;
}
.confessPost .logo {
  color: hsl(240, 30%, 61%);
  /* todo */
  /* color: rgb(46, 46, 46); */
  color: white;
  position: absolute;
  display: block;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  font-size: 1.6rem;
  text-align: justify;

  font-family: sans-serif;
}

.textArea {
  display: block;

  width: 400px;
  min-height: 400px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  font-size: 2.2rem;
  padding: 1rem;
  padding-block-end: 2.5rem;
  font-family: "Source Sans Pro", sans-serif;

  resize: none;
  background-color: #404040;
  /* width: max(30%, 450px); */
  color: white;
}

.confessPost .textBox:focus {
  border: 0;
}
.main {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loaderBox {
  display: grid;
  height: 57vh;
  width: 100vw;
  place-content: center;
}
.loaderBox h2 {
  text-align: center;
}
.msgBox {
  background-color: rgb(4, 255, 4);
  width: 500px;
  height: 70px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 1rem;
  border-radius: 0.8rem;
  font-weight: normal;
  font-family: sans-serif;
  overflow: hidden;
}
.msgBox span {
  font-size: 3rem;
  font-weight: bolder;
  aspect-ratio: 1/1;
  border-radius: 100%;
  width: 5rem;
  display: inline-grid;
  place-content: center;
  margin-right: -2rem;
}
.msgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 100%;
  animation: swipe 200ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.msgBox::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
  transform: translateX(-100%);
  animation: load 3s ease-in-out forwards alternate-reverse;
}
@keyframes swipe {
  to {
    top: 80%;
  }
}
@keyframes load {
  to {
    transform: translateX(0%);
  }
}
@media (max-width: 400px) {
  .confessPost,
  button,
  .textArea {
    width: 95%;
    margin: 0 auto;
  }
  button {
    margin: 1rem 0;
  }
  .confessPost {
    min-width: none !important;
  }
  .msgBox {
    /* bottom: 20rem; */
    font-size: 1.4rem;
    width: 100%;

    height: 70px;
  }
  h1 {
    font-size: 1.5rem;
  }
  .confessPost .logo {
    font-size: 1.3rem;
  }
}
